@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
.Vmodal{
  visibility: visible;


}
.Overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  background: rgba(0, 0, 0, .5);

}
.Window{
  width: 900px;
  height: 500px;
  background-color: #F3F3F3;
  border-radius: 4px;
  margin: 150px auto;

}
.Model__header{
  height: 15%;
  background-color: #D33938;
  border-radius: 5px;

}
.Model__header__title{
  padding-top: 15px;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 35px;
  color: white;
  margin-left: 45%;
}
.Modal__close{
  margin-left: 70%;
  cursor: pointer;
}
.Modal__close:hover{
  color: black;
}
.Model__body{

}
.Model__bot{
  margin-top: 100px;
  height: 60px;
  weight:30px;
  background-color: #D33938;
}
.Model__bot__button{
  padding-top: 5px;
  font-size: 30px;
  color: white;
  padding-left: 390px;
  font-family: 'Raleway', sans-serif;


}
.Model__bot__button:hover{
  color: black;
  cursor: pointer;


}
.Alert{
  position: fixed;
  margin-left: 34%;
  margin-top: -1450px;;
  height: 50px;
  width: 500px;
  background-color: green;
  border-radius: 5px;
}
.Alert__text{
  display: inline-block;
  padding-top: 13px;
  padding-left: 150px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.Modal__close1{
  margin-top: -60px;
  padding-left: 100px;
  display: inline-block;
  font-size: 30px;
  margin-left: 70%;
  cursor: pointer;
}
.Model__body__text{
  display: inline-block;
  margin-top: 160px;
   width: 100%;
}
.Model__body__Name{
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}
.Model__body__text{
  padding-left: 10px;
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
}
.Model__body__Surname{
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}
.Model__body__number{
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}
